.linkCard {
  margin: 20px 0;
  padding: 0 !important;
  box-shadow: 0px 0px 2px 1px rgba(66, 68, 90, 0.5);
  display: flex;
  flex-direction: row !important;
  padding: 10px !important;
}

.linkCardBody {
  padding: 0 !important;
}

.voteBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 16px;
  font-size: 10px;
}

.voteButton {
  height: 32px;
  width: 32px;
  padding: 0 !important;
}

.voteIcon {
  font-size: 24px;
}

.votes {
  font-size: 20px;
  font-weight: 600;
}

.titleRow {
  display: flex;
  align-items: center;
}

.linkTitle {
  cursor: pointer;
  margin: 0 8px 0 0 !important;
}

.titleBottomRow {
  text-align: left;
  font-size: 14px;
  margin-top: 8px;
}
